body{
    background-color: rgba(0, 128, 128, 0.651);
    background-size: 100%;
    background-repeat: no-repeat;
    
}
section div{
    width: 350px;
    float: left;
    margin-bottom: 90px;
    margin-top: 40px;
    text-align: center;
    
}
#the-container{
    margin-left: 11%;
}

img {
    
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3), 0 10px 30px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
    width : 300px;
    height: 350px;
    border-radius: 10px;
}
img:hover{
    width: 320px;
    height: 370px;
}
canvas {
    margin-top: 50px;
    display: block;
    width: 400px;
    height: 300px;
}
ul{
    display: block;
    width: 400px;

}

h1{
    font-family: 'Trade Winds', cursive;
    font-size: 26px;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
    color: rgb(226, 74, 13);
    background-color: rgba(75, 214, 219, 0.808);
    padding: 1%;
    animation: blinkingText 2s infinite;
    margin: 2% 3% 0% 3%;
}

@keyframes blinkingText{
    0%{     color:  rgb(226, 74, 13);    }
    49%{    color:  rgb(226, 74, 13); }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color:  rgb(226, 74, 13);    }
  }
#itemsChart.chartjs-render-monitor{
    display: block;
    width: 1000px;
    background-color: rgba(113, 181, 226, 0.801);
    margin-top: 20px;
}
footer{
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
}

 #list{
    margin-top: 50px;
    display: block;
    width: 500px;
}
