body{
    background-color: rgba(118, 118, 228, 0.603);
    text-align: center;
}
section div {
    width: 350px;
    float: left;
}
section{
    display: block;
    margin-bottom: 30px;
}
img {
    width : 300px;
    height: 350px;


}
canvas {
    display: block;
    width: 400px;
    height: 300px;
}
ul{
    display: block;
    width: 400px;

}
button{
    display: block;
}
#the-container {
margin-left: 11%;
}